<h2>Validaciones reactivas</h2>
<hr>

<div class="row">
    <div class="col">
        <form autocomplete="off" 
        [formGroup]="miFormulario"
        (ngSubmit)="submitForm()"
        >

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input 
                        type="text" class="form-control" 
                        placeholder="Nombre de usuario"
                        formControlName="nombre"
                        >

                    <span *ngIf="campoNoValido('nombre')" class="form-text text-danger">
                        Debe ser formato de nombre y apellido
                    </span>
                </div>
            </div>

            <!-- email -->


            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" placeholder="Email">


                </div>
            </div>

            <!-- usuario -->

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" placeholder="Usuario">


                </div>
            </div>


            <!-- password -->

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Password">


                </div>
            </div>

            <!-- password confirmar-->

            <div class="row mb-3">
                <label class="col-sm-3 col-form-label">Confirmar password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" placeholder="Confirmar password">


                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" type="submit">
                        Registrar
                    </button>
                </div>
            </div>


        </form>
    </div>
</div>

<h2>Form valid: {{ miFormulario.valid }}</h2>

<h5>Nombre</h5>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>